@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      font-family: 'Space Mono', monospace;
      font-size: 1.5rem;
      @apply bg-light-grayish-cyan;
      @apply text-grayish-cyan;
      font-weight: 700;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  input[type='number']:focus,
  input[type='number']:focus-visible{
      @apply outline-strong-cyan;
  }

  @media screen(lg){
      body{
        font-size: 1.5rem;
    }
  }
}

#bill,
#people{
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 20px;
}

#people{
  background-image: url(../images/icon-person.svg);
}

.select-tip-wrap button.active{
  @apply bg-strong-cyan text-very-dark-cyan;
}