@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Space Mono', monospace;
        font-size: 1rem;
        @apply bg-light-grayish-cyan;
        @apply text-grayish-cyan;
        font-weight: 700;
    }
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }

    @media screen(lg){
        body{
          font-size: 1.5rem;
      }
    }
  }